.sidebar-toggle {
    font-size: 1.25rem;
    padding: 0.2rem 1.1rem;
    border: none !important;
  }
  
  .navbar {
    width: 100%;
    height: 70px;
  }
  
  .offcanvas {
    background: #4e4e4ece !important;
   
  }
  
  .offcanvas-title {
    color: white;
  }
  
  .offcanvas-body {
    ul.nav.flex-column {
      li.nav-item {
        a.nav-link {
          color: white;
          font-size: 1.2rem;
          font-weight: 200;
  
          &:hover {
            color: #000000;
          }
        }
      }
    }
  }
  
  
  
  
  
  .logo-img {
    transition: transform 0.3s ease-in-out;
    width: 60px;
    height: 50px;
  }
  
  .logo-img:hover {
    transform: scale(1.3);
  }
  
  .bottom-links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
  
  }