 .button-link {
    color: #ffffff;
    text-decoration: none;
  }
  
  .button-link:hover {
    text-decoration: underline;
  }
  .button-text {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
  }
  
  .cute-button:hover .button-text {
    text-decoration: underline;
  }